<div data-behavior="overlay" class="overlay overlay-hugeinc">
  <button data-behavior="close-overlay" type="button" class="overlay-close"><span class="glyphicon glyphicon-remove"></span></button>
  <nav>
    <h2 class="grayed-heading center">Sign in or create an account</h2>
    <ul class="omniauth-button-group">
  
      <li>
        <%= link_to "Sign in or Sign up with email", new_user_session_path, class: "signin-signup-link" %>
      </li>
    </ul>
  </nav>
</div>
